.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.prompt {
    padding: 15px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    display: none;
}

.prompt button {
    margin: 10px 5px;
}